{% extends 'base.html.j2' %}
{% block content %}

<h1>Google</h1>

<form method="POST">
  {{ form.hidden_tag() }}
  {{ form.name.label }}
  {% if form.name.errors %}
    {{ form.name(class="is-invalid") }}
    <div class="invalid-feedback">
      {% for error in form.name.errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% else %}
    {{ form.name }}
  {% endif %}
  {{ form.submit }}
</form>

<h3>List of the Google software you use</h3>

{% if current_user.google %}
  <div class="softwares">
    {% for software in current_user.google %}
      <div class="software">
        <p>{{ software.name }}</p>
        <form method="POST" action="{{ url_for('google.delete_google_software', software_id=software.id) }}">
          <button type="submit">Delete</button>
        </form>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>You currently have no Google software. You are free from the chains.</p>
{% endif %}

{% endblock %}
